version: '3.8'
services:
  nest-api:
    container_name: nest-graphql-api-test
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    depends_on:
      - postgres
    networks:
      - nest-graphql-network


  postgres:
    image: postgres:latest
    container_name: nest-postgres-test
    restart: always
    env_file:
      - .env.test
    expose:
      - 5434
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nest-graphql-network
    logging:
      driver: none

  pgadmin:
    links:
    - postgres:postgres
    container_name: nest-pgadmin
    image: dpage/pgadmin4
    restart: unless-stopped
    ports:
      - '8080:80'
    volumes:
      - /data/pgadmin:/root/.pgadmin
    env_file:
      - .env
    networks:
      - nest-graphql-network
    logging:
      driver: none


volumes:
  postgres_data:
    driver: local
networks:
  nest-graphql-network:
    driver: bridge
    name: nest-graphql-network
